<form login-form="user" class="panel">
  <h1>Já possui conta?</h1>
  <div class="alert alert-danger" ng-show="userForm.invalidPassword">
    <span>Usuário ou senha inválidos</span>
  </div>
  <div class="alert alert-danger" ng-show="lostSession">
    <span>Sua sessão expirou. Faça login novamente.</span>
  </div>

  <div class="form-group with-icon" ng-class="{'has-error': !userForm.email.$pristine && userForm.email.$invalid, 'has-success': userForm.email.$valid}">
    <input type="email" autofocus="true" name="email" class="form-control input-lg" placeholder="E-mail" ng-model="user.email" required>
    <i class="fa fa-at"></i>
    <p class="help-block" ng-show="userForm.email.$error.required && !userForm.email.$pristine">O campo Email é obrigatório</p>
    <p class="help-block" ng-show="userForm.email.$error.email && !userForm.email.$pristine">Este campo deve ser um e-mail válido</p>
  </div> <!-- / Username -->

  <div class="form-group signin-password with-icon" ng-class="{'has-error': !userForm.password.$pristine && userForm.password.$invalid, 'has-success': userForm.password.$valid}">
    <input type="password" name="password" class="form-control input-lg" placeholder="Senha" ng-model="user.password" required>
    <i class="fa fa-lock"></i>
    <p class="help-block" ng-show="userForm.password.$error.required && !userForm.password.$pristine">O campo Senha é obrigatório</p>
  </div> <!-- / Password -->

  <a link-to="school.auth.password.request" class="forgot">Esqueceu sua senha?</a>

  <div class="form-actions text-center">
    <input type="submit" value="Entrar »" next="{{ nextPage }}" ng-disabled="userForm.$invalid" class="btn btn-success">
  </div> <!-- / .form-actions -->
</form>
