<div class="cart-total panel">
  <div class="panel-heading">
    <strong class="panel-title">Total</strong>
  </div>
  <div class="panel-body">
    <div class="courses">
      <div class="course table" ng-repeat="item in order.items">
        <div class="table-cell text-left">
          <a class="title" link-to="school.course({ courseId: item.schoolProduct.id })">{{ item.schoolProduct.title }}</a>
        </div>
        <div class="price table-cell text-right">
          <div class="promotional" ng-if="item.amount_to_pay !== item.total">
            {{ item.total | money:'R$ ' }}
          </div>
          {{ item.amount_to_pay | money:'R$ ' }}
        </div>
      </div>
    </div>
    <hr>
    <div class="total clearfix">
      <span class="pull-left">
        Total
      </span>
      <span class="pull-right">
        {{ totalPrice | money:'R$ ' }}
      </span>
    </div>
    <div ng-if="$state.is('school.checkout.cart')" class="form-group simple coupon" ng-class="{'has-error': coupon.errorMessages.length > 0}">
      <div class="input-group">
        <input type="text" placeholder="Cupom de desconto" class="form-control input-sm" ng-model="coupon.name">
        <span class="input-group-btn">
          <button type="button" class="btn btn-success" ng-click="applyCoupon(coupon, order)">
            <i class="fa fa-check"></i>
          </button>
        </span>
      </div>
      <p class="help-block" ng-if="coupon.errorMessages.length > 0">{{ coupon.errorMessages.join(', ') }}</p>
    </div>
    <spinner ng-if="$state.is('school.checkout.cart')" name="coupon"></spinner>
    <a ng-if="$state.is('school.checkout.cart')" link-to="school.checkout.connect" class="btn btn-success btn-lg pull-right" type="button">Finalizar compra</a>
  </div>
</div>
