/*********************************************************************
*
*  layout/footer
*  Footer styles
*
*********************************************************************/
.school-footer {
  background: $white;
  padding: 40px 0;

  color: $gray;

  a {
    @include colorful-link($gray);
  }

  h4 {
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  .description {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 21px;
    border-bottom: 1px solid white;
  }

  ul {
    padding-left: 20px;
    li {
      list-style-type: ellipsis;
      margin-bottom: 10px;
      a {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  address {
    margin-top: 20px;
    font-size: 0.8em;
  }
}

.copyright-footer {
  padding: 10px 0;
  background-color: $white;
  color: $light-gray;
  font-size: 16px;
  font-weight: 300;
}

.newsletter-footer {
  background-color: $light-blue;
  padding: 40px 0;
  p {
    color: white;
    font-size: 30px;
    font-weight: 100;
  }
  form {
    input[type="email"] {
      height: 46px;
      padding: 10px;
      border: none;
      background-color: $white;
      font-weight: 300;
    }
    input[type="submit"] {
      font-weight: 100;
      font-size: 16px;
      height: 46px;
      line-height: 36px;
    }
  }

  @media(max-width: $screen-md-min) {
    input {
      margin-bottom: 10px;
    }
  }
  @media(min-width: $screen-desktop) {
    .row {
      display: table;
    }
  }
}

.payment-methods {
  img {
    margin-bottom: 10px;
  }
}

.footer-social-links {
  padding: 0 !important;
  list-style-type: none;
  li {
    font-size: 14px;
    font-weight: 300;
    i {
      font-size: 22px;
      width: 45px;
      text-align: center;
    }
    &.facebook-footer-link {
      i {
        color: #3b5998;
      }
    }
    &.twitter-footer-link {
      i {
        color: #08c1e2;
      }
    }
    &.linkedin-footer-link {
      i {
        color: #1a85bd;
      }
    }
    &.youtube-footer-link {
      i {
        color: #d23736;
      }
    }
  }
}
