/*********************************************************************
*
*  layout/course
*  course page styles
*
*********************************************************************/
.course.main-header {
  @media (max-width: $screen-small) {
    min-height: 495px;
  }

  .info {
    min-height: 100px;
    max-height: 120px;
    margin-bottom: 20px;
    @extend %clearfix;

    @media (max-width: $screen-small) {
      min-height: 150px;
      max-height: 170px;
    }
  }

  .image {
    width: 450px;
    height: 210px;
    position: relative;
    overflow: hidden;

    img {
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      max-height: none;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
    }
  }

  .enroll {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 100%;

    .label {
      @media (max-width: $screen-small) {
        display: block;
      }
    }
  }

  .dropdown-menu a:hover {
    color: #000;
    cursor: pointer;
  }

  .title, .subtitle, .price-text {
    color: $white;
    font-family: 'Roboto';
  }

  .title {
    font-size: 40px;
    font-weight: 700;
  }

  .subtitle {
    font-size: 20px;
    font-weight: 100;
  }

  .price-text {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 300;
  }

  .container {
    display: table;
  }
}

.course-body {
  min-height: 300px;
  padding: 15px 30px;
  margin: 0;
  background-color: $bg-light-gray;
}

.course-description, .course-description > p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: justify;
  font-weight: 100;
}

.topic {
  .description {
    font-size: 14px;
  }
}

.modules {
  font-family: 'Roboto', sans-serif;
}

.module {
  padding: 5px 0;
  border-bottom: 1px solid lighten(#ccc, 10%);
}

.module-info {
  div {
    display: inline-block;
  }

  .type {
    line-height: 1.5em;
  }

  .title {
    font-size: 18px;
    font-weight: 100;
  }
}

.class {
  padding: 5px 0;
}

.class-info {
  .type {
    left: -30px;
    margin-right: 5px;
  }

  .title {
    font-size: 14px;
  }
}

.course-path {
  padding: 15px 0;
  border-bottom: 1px solid lighten(#ccc, 10%);
}

.panel-body {
  content-tree .angular-ui-tree{
    padding-left: 80px;
    counter-reset: module;
    .module {
      border: none;
      position: relative;
      padding: 0;
      padding-left: 40px;
      margin-bottom: 10px;

      .module-info {
        display: inline-block;
        .title a {
          font-size: 20px;
          font-family: 'Roboto';
          font-weight: 300;
          color: $dark-gray;
          &:hover {
            text-decoration: none;
          }
        }
      }
      &:before {
        counter-increment: module;
        content: "Módulo " counter(module);
        color: $white;
        background-color: $light-blue;
        font-weight: 300;
        font-size: 14px;
        font-family: 'Roboto';
        right: 100%;
        padding: 0 5px;
        position: absolute;
        width: 80px;
        text-align: center;
        top: 50%;
        @include transform(translateY(-50%));
      }
    }
    .module-item.root {
      padding: 0;
      counter-reset: class;
      padding-bottom: 10px;
      margin-bottom: 20px;
      &:after {
        content: "";
        width: calc(100% + 160px);
        height: 1px;
        position: absolute;
        left: -120px;
        bottom: 0;
        background-color: $bg-light-gray;
      }
      .module-item {
        .class {
          position: relative;
          padding: 0;
          padding-left: 40px;
          margin-bottom: 10px;
          .class-info {
            display: inline-block;
            class-icon {
              i {
                font-size: 22px;
                color: $bg-light-gray;
              }
            }
            span {
              margin-left: 10px;
              font-family: 'Roboto';
              font-size: 18px;
              font-weight: 100;
            }
          }
          &:after {
            counter-increment: class;
            content: "Aula " counter(class);
            color: $white;
            background-color: $semi-light-gray;
            font-weight: 300;
            font-size: 14px;
            font-family: 'Roboto';
            right: calc(100% + 10px);
            padding: 0 2px;
            position: absolute;
            width: 60px;
            text-align: center;
            top: 50%;
            @include transform(translateY(-50%));
          }
        }
      }
    }
  }
}


.panel > .panel-body > .teacher {
  display: block;
  img {
    display: inline-block;
    max-width: 80px;
    max-height: 80px;
    border-radius: 100%;
    float: none;
  }
  h4 {
    display: inline-block;
  }
  img, h4 {
    vertical-align: bottom;
  }
  p.description {
    margin: 10px 0;
  }
}

.topic.start-to-study {
  .panel-body {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 34px;
    .installments > small, .full-price {
      font-weight: 100;
      font-size: 18px;
    }
    .btn-green {
      margin-top: 30px;
    }
  }
}

.topic.payment-methods {
  ul.payment-types {
    padding: 0;
    list-style-type: none;
    li {
      span {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 100;
      }
      i {
        font-size: 22px;
        color: $light-blue;
        margin-right: 10px;
      }
    }
  }
  img {
    margin-top: 20px;
  }
}
