/*********************************************************************
*
*  base/variables
*  Project global variables
*
*********************************************************************/


/* Paths */
$fonts-path:  "../assets/fonts";
$images-path: "../assets/images";

/* Font-Awesome fonts path */
$fa-font-path: "#{$fonts-path}/font-awesome";

/* Uncomment this if you like selection background */
// $SELECTION_BACKGROUND_COLOR: #41bdce !default;
// $SELECTION_TEXT_COLOR: #fff !default;

/* Other colors you want, down here */
$orange: #de8738;
$light-gray: #f2f2f2;

$primary-color: #1d89cf;
$info-color: #989898;
$success-color: #03a188;
$warning-color: #f59d00;
$danger-color: #e66454;

$bg-light-gray: #f2f2f2;

$light-gray: #7e8c8d;
$semi-light-gray: #999999;
$gray: #373739;
$dark-gray: #272727;

$white: #ffffff;

$light-blue: #2c97df;
$blue: #1e6c9d;
$dark-blue: #1d6c9f;

$light-green: #009e82;
$dark-green: #006e52;

$bg-color : #f3f5f7 !default;
$text-color : $gray !default;
$link-color : #4083a9 !default;
$placeholder-color: #a7a9ac !default;

$highlighting-color: #f9f1c7;
$content-wrapper-padding: 18px;

/* Border color for table and cell borders. */
$table-border-color: darken(#eee, 4%);

/* Panel content padding */
$panel-content-padding: 20px;
$panel-heading-bg: $light-blue;
$panels-border-color: $table-border-color;
$grid-gutter-width: 20px;

/* Panels */
$tabs-border-color: $table-border-color;
$pagination-border-color: $table-border-color;
$list-groups-border-color: $table-border-color;
$accordion-border-color: $table-border-color;
$panels-border-color: $table-border-color;

/* Wizard */
$wizard-step-number-size: 26px;
$wizard-step-number-border-width: 2px;
$wizard-step-number-margin: 10px;


/* Screen sizes */
$screen-desktop: 992px;
$screen-tablet:  768px;
$screen-small:   480px;


/* Modal sizes */
$modal-lg: 900px;
$modal-md: 600px;
$modal-sm: 300px;

/* Forms */
$input-bg-color: #f8f8f8;
$input-placeholder-color: #757575;
$placeholder-color: $input-placeholder-color;

/* Navbar */
$navbar-height: 80px;

// nav tabs
$nav-tabs-active-link-hover-bg: #1d89cf;
$nav-tabs-active-link-hover-color: #1a7ab9;
$nav-tabs-active-link-hover-border-color: #1a7ab9;
