<tab heading="Boleto Bancário" select="selectPayment('boleto')" ng-if="!plan">
  <div class="note note-warning">
    <span>Desabilite o bloqueio de pop-ups do seu navegador</span>
  </div>
  <div class="note note-info">
    <span>O prazo para compensação de um boleto bancário é de até 3 dias úteis, após a realização do pagamento. O curso só irá ser liberado após a compensação do mesmo.</span>
  </div>
  <div class="text-center">
    <button type="button" pay disable-on-load="['customer', 'payment']" class="btn btn-lg btn-success">Gerar Boleto</button>
  </div>
</tab>
