<div ng-if="creditCardError" class="alert alert-danger">Ocorreu um erro com seu pagamento. Tente novamente ou entre em contato conosco.</div>
<form name="cardForm">
  <!-- <skeuocard ng-model="card"></skeuocard> -->
  <div class="well">
    <div class="form-group" ng-class="{'has-error': !cardForm.name.$pristine && cardForm.name.$invalid, 'has-success': cardForm.name.$valid}">
      <label class="control-label">Nome completo <small><i>(igual ao impresso no cartão)</i></small></label>
      <div class="input-group">
        <input type="text" name="name" class="form-control" ng-model="card.name" required>
      </div>
      <p class="help-block" ng-show="cardForm.name.$error.required && !cardForm.name.$pristine">O campo é obrigatório</p>
    </div>
    <div class="form-group" ng-class="{'has-error': !cardForm.number.$pristine && cardForm.number.$invalid, 'has-success': cardForm.number.$valid}">
      <label class="control-label">Nº do cartão de crédito</label>
      <div class="input-group">
        <input type="text" name="number" class="form-control" ng-model="card.number" payments-validate="card" payments-type-model="card.type" payments-format="card" fixed-card="moip" fixed-card-type="gateway" required>
        <span class="input-group-addon" ng-if="card.type != null">
          <span card-flag ng-model="card.type"></span>
        </span>
      </div>
      <p class="help-block" ng-show="cardForm.number.$error.required && !cardForm.number.$pristine">O campo é obrigatório</p>
      <p class="help-block" ng-show="cardForm.number.$error.card && !cardForm.number.$pristine && !cardForm.number.$error.fixedCard">Insira um número de cartão válido</p>
      <p class="help-block" ng-show="cardForm.number.$error.fixedCard && !cardForm.number.$pristine">Insira um cartão Visa ou Mastercard</p>
    </div>
    <div class="form-inline row">
      <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-error': !cardForm.cvc.$pristine && cardForm.cvc.$invalid, 'has-success': cardForm.cvc.$valid}">
        <label class="control-label">Cód. de segurança</label>
        <input type="text" name="cvc" ng-model="card.cvc" payments-type-model="card.type" payments-validate="cvc" payments-format="cvc" class="form-control" required>
      </div>
      <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-error': !cardForm.expiry.$pristine && cardForm.expiry.$invalid, 'has-success': cardForm.expiry.$valid}">
        <label class="control-label">Validade (mês/ano)</label>
        <input type="text" name="expiry" ng-model="card.expiry" payments-validate="expiry" payments-format="expiry" class="form-control" required>
      </div>
    </div>
    <div class="form-group" ng-if="!plan">
      <label class="control-label">Parcelas</label>
      <div installments-select ng-model="card.installments" maximum-installments="gateway.maximum_number_of_installments" total-price="totalPrice"></div>
    </div>
  </div>
</form>
<button type="button" pay ng-disabled="cardForm.$invalid" disable-on-load="['customer', 'payment']" class="btn btn-success pull-right">Efetuar pagamento</button>
