<tab ng-if="canBuyWithCredits(order)" heading="Carteira de créditos" select="selectPayment('wallet')">
  <div class="center well">
    <h4>Preço dos produtos: {{ totalPriceInCredits }} créditos</h4>
    <br>
    <h4>Balanço da carteira de créditos: {{ customer.wallet.balance }} créditos</h4>
  </div>
  <div class="note note-warning" ng-if="customer.wallet.balance < totalPriceInCredits">
    Você não possui créditos suficientes para comprar esse produto. Adiquira <a ui-sref="school.credits">aqui</a>
  </div>
  <button type="button" disable-on-load="['customer', 'payment']" class="btn btn-success btn-lg pull-right" ng-disabled="customer.wallet.balance < totalPriceInCredits" ng-click="payWallet()">Confirmar compra</button>
</tab>
