<div class="container-fluid dashboard">
  <div class="alert alert-danger" ng-if="unauthorized">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Acesso não autorizado. </strong> Esses são os cursos em que você está matriculado.
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-title">Meus cursos matriculados</h2>
        <hr>
      </div>
    </div>
  </div>

  <div class="container" ng-if="!((enrollments == undefined || enrollments.length == 0) && (pendingEnrollments == undefined || pendingEnrollments.length === 0))">
    <section class="course-list">
      <div class="col-xs-12 col-sm-4" ng-repeat="enrollment in enrollments" ng-include="'templates/student/dashboard/enrollment_thumb.html'"></div>
    </section>
  </div>

  <div class="container" ng-if="(enrollments == undefined || enrollments.length == 0) && (pendingEnrollments == undefined || pendingEnrollments.length === 0)">
    <div class="alert alert-warning">Você ainda não está matriculado em nenhum curso.</div>
  </div>

  <spinner name="dashboard" class="small"></spinner>
</div>
