<div class="container-fluid dashboard">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-title">Meus Pedidos</h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="container" hide-on-load="orders" ng-if="!(orders == undefined || orders.length == 0)">
    <div class="row table-header">
      <div class="col-xs-3 text-left">Número do Pedido</div>
      <div class="col-xs-3 text-center">Data</div>
      <div class="col-xs-2 text-center">Status</div>
      <div class="col-xs-3 text-right">Total</div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel-group" id="orders-accordion" role="tablist" aria-multiselectable="false">
          <div class="panel" ng-repeat="order in orders | orderBy:'created_at':true">
            <div class="row collapsed" role="tab" id="order-{{ order.id }}-header" data-toggle="collapse" data-parent="#orders-accordion" href="#order-{{ order.id }}" aria-expanded="false" aria-controls="order-{{ order.id }}">
              <div class="col-xs-3 text-left">{{ order.id }}</div>
              <div class="col-xs-3 text-center">{{ order.lastPaymentCreatedAt | toSaoPauloTimeZone | toDateTime }}</div>
              <div class="col-xs-2 text-center">{{ order.status | translate }}</div>
              <div class="col-xs-3 text-right">{{ order.amount_to_pay | money:'R$ ' }}</div>
              <div class="col-xs-1 text-right"><i class="fa fa-chevron-up"></i></div>
            </div>

            <div id="order-{{ order.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="order-{{ order.id }}-header">
              <div class="row order-items">
                <div class="col-xs-12" ng-repeat="item in order.items">
                  <div class="row">
                    <div class="col-xs-6 text-left">
                      {{ item.product.name || item.credit.name }}
                    </div>
                    <div class="col-xs-6 text-right">
                      {{ item.product.price | money: 'R$ ' }}
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" hide-on-load="orders" ng-if="orders == undefined || orders.length == 0">
    <div class="alert alert-info">
      Você ainda não fez nenhum pedido. Confira <a ui-sref="school.home">nossos cursos</a>.
    </div>
  </div>

  <spinner name="orders"></spinner>
</div>
