/*********************************************************************
*
*  layout/dashboard/course
*  Course detail styles
*
*********************************************************************/
.course-page {
  .course-info {
    padding: 30px;
    border-radius: 5px;
  }

  .course-page-image {
    max-width: 300px;
    max-height: 200px;
  }
}

.modules {
  padding: 0;

  .module-item {
    list-style: none;
  }

  .module-info spinner {
    position: relative;
    float: right;
    margin: 10px 15px 0 0;
  }
}

.dashboard-panel {
  .class-info {
    margin-top: 5px;
    margin-bottom: 5px;
    .title {
      text-decoration: none;
      color: #555;
    }

    .lesson-icon {
      opacity: 0.3;
      margin-right: 3px;
    }

    .type {
      margin-right: 3px;
    }

    &.active {
      .title {
        font-weight: bold;
      }

      .lesson-icon {
        opacity: 1;
      }
    }

    &:hover {
      .lesson-icon {
        opacity: 1;
      }
    }
  }

  .bulletinboard-panel .pagination {
    margin-bottom: 0;
  }
}

.available-title{
  font-size: 11px ;
  float: right;
}


.progress-header {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 100;
  .label {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    padding: 3px;
    border-radius: 0;
    text-align: center;
    margin: 0 2px 0 5px;
    &.label-success {
      background-color: $success-color;
    }
    &.label-warning {
      background-color: $warning-color;
    }
    &.label-info {
      background-color: $info-color;
    }
    &:first-child {
      margin-left: 0;
    }
  }

}

h4.progress-title {
  margin-top: 20px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 100;
}

.progress {
  border-radius: 0;
  box-shadow: none;
  height: 25px;

  .progress-bar {
    box-shadow: none;
  }

  .progress-bar-warning {
    background-color: $warning-color;
  }

  .progress-bar-success {
    background-color: $success-color;
  }

  .progress-bar-danger {
    background-color: $danger-color;
  }
}


.course-page {
  h4 {
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 100;
  }
}
