/*********************************************************************
*
*  layout/education/forums/question
*  Question screen layout
*
*********************************************************************/
.question-page {
  hr {
    width: 100%;
  }
}

.question-header {
  margin-bottom: 10px;
}

$question-user-avatar-size: 48px;
.question-user {
  @include forum-user-avatar($question-user-avatar-size);
}

.question {
  display: block;

  .title {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .time {
    float: right;
    color: #aaa;
  }

  .description {
    font-size: 14px;
  }
}

.answer-action {
  position: relative;
  padding-bottom: 45px;

  .btn {
    margin-top: 10px;
  }
}

.teacher-answers {
  margin-top: 20px;
}

.answer {
  padding: 10px;

  &:hover {
    background: #eee;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  &:hover,
  &:active,
  &:focus {
    .content .btn {
      display: block;
    }
  }

  .content {
    min-height: 80px;
    position: relative;

    .text {
      font-size: 14px;
      text-align: justify;
    }

    .time {
      float: right;
      color: #aaa;
      padding-left: 5px;
    }

    .btn {
      position: absolute;
      display: none;
      right: 0;
      bottom: -5px;
    }
  }

  .user {
    @include forum-user-avatar($question-user-avatar-size);
  }
}

.highlighted-answers {
  .answer {
    background: $highlighting-color;

    &:hover {
      background: darken($highlighting-color, 3%);
    }
  }
}
