// --------------------------------------------------
// Plugins / Wizard
//


// Base styles
//

.pxajs .wizard-pane {
  display: none;
}

.wizard-wrapper + .wizard-content.panel {
  margin-top: -1px;
}

.wizard.freeze .wizard-steps > li {
  cursor: default !important;
}

.modal-content > .wizard .wizard-wrapper {
  border-left: none;
  border-radius: 0;
  border-right: none;
  border-top: none;
}


// Wizard steps
//

// Wrapper
.wizard-wrapper {
  border: 1px solid $table-border-color;
  border-radius: $border-radius-base;
  white-space: nowrap;
  width: auto;
  position: relative;
  overflow: hidden;
  border: none;
  margin: 10px 0 30px 0;
}

// Steps
.wizard-steps {
  cursor: default;
  display: block !important;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  @include transition(left .3s);
  @include user-select-none();

  &.wizard-steps-justified {
    width: 100%;

    & > li {
      display: table-cell;
      width: 1%;
    }
  }

  & > li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0;
    padding: 5px 10px 5px (($wizard-step-number-size + ($wizard-step-number-border-width * 2)) + ($wizard-step-number-margin * 2));
    vertical-align: middle;

    // Step border
    & + li:before {
      // background: $table-border-color;
      bottom: 0;
      content: "";
      margin-left: -$wizard-step-number-margin - 41px;
      position: absolute;
      top: 0;
      width: 1px;
    }

    .wizard-step-number, .wizard-step-caption {
      color: $gray;
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  & > li > .wizard-step {
    padding: 5px 15px;
    display: inline-block;
    &.active {
      background-color: $white;
    }
  }

  // Completed step
  & > li.completed {
    cursor: pointer;
    span {
      color: $light-green;
    }
  }

  // Active and completed steps
  // & > li.active,
  // & > li.completed {
  //   .wizard-step-caption {
  //     color: red !important;
  //   }

  //   .wizard-step-description {
  //     color: #888;
  //   }

  //   .wizard-step-number {
  //     border-color: $text-color;
  //     color: $text-color;
  //   }
  // }

  .wizard-step-number:after {
    display: none;
  }
}

// .wizard-steps > li.completed .wizard-step-number {
//   font-size: 0;
// }

// Show icon
.wizard-steps > li.completed > .wizard-step:before {
  content: '\f00c';
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 400;
  color: $light-green;
  display: inline-block;
  vertical-align: middle;
}


// Wizard content
//

.wizard-content {
  padding: 20px;
  @include clearfix();
}
