<div class="panel cart-product">
  <div class="panel-heading">
    <a class="panel-title" link-to="school.course({ courseId: item.schoolProduct.id })">
      <strong>
        {{ item.schoolProduct.title }}
      </strong>
    </a>
    <div class="pull-right">
      <a class="pointer" ng-click="removeFromCart(item)">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-12 col-md-4 image-container" ng-if="item.schoolProduct.logo">
      <img src="{{ item.schoolProduct.logo }}" alt="{{ item.schoolProduct.title }}" class="cover-photo image-full">
    </div>
    <div class="col-xs-12 cart-subtitle" style="font-size: 14px; letter-spacing: 1px;" ng-class="{'col-md-8' : item.schoolProduct.logo }">
      <p max-lines="2">{{ item.schoolProduct.subtitle }}</p>
      <!-- <div class="col-xs-12 teachers">
        <label>Professores:</label>
        <h5 ng-repeat="teacher in item.schoolProduct.teachers">
          {{ teacher.name }}
        </h5>
      </div> -->
      <div class="col-xs-12 price">
        <label>Valor:</label>
        <h4>
          {{ (item.amount_to_pay | money:'R$ ') || 'R$ --' }}
        </h4>
      </div>
    </div>
  </div>
</div>
