<div class="checkout">
  <div class="container checkout-panel">
    <div class="col-xs-12">
      <h2>
        <i class="fa fa-shopping-cart"></i>
        <span>Carrinho de compras</span>
      </h2>
    </div>
    <hr>
    <div class="col-xs-12">
      <div edools-wizard>
        <div class="wizard-wrapper" ng-include="'templates/checkout/steps.html'"></div>
        <div>
          <!-- <div ng-if="safe !== undefined && !safe" class="note note-warning">
            <h4 class="note-title">Atenção!</h4>
            <span>Você está entrando em uma área segura. Por favor, faça login novamente</span>
          </div> -->
          <div ng-init="nextPage = 'school.checkout.complete'"></div>
          <div class="col-xs-12 col-sm-6">
            <div ng-include="'templates/student/register_form.html'"></div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div ng-include="'templates/student/login_form.html'"></div>
          </div>
        </div>
      </div>
      <spinner name="connect"></spinner>
    </div>
  </div>
</div>
