<ul class="wizard-steps wizard-steps-justified">
  <li wizard-state="school.checkout.connect" ng-class="{completed:$state.is('school.checkout.complete') || $state.is('school.checkout.payment')}">
    <div class="wizard-step" ng-class="{active : $state.is('school.checkout.connect')}">
      <span class="wizard-step-number">1.</span>
      <span class="wizard-step-caption">
        <!-- <i class="fa fa-user"></i> -->
        <span>Conecte-se</span>
      </span>
    </div>
  </li>
  <li wizard-state="school.checkout.complete" ng-class="{completed:$state.is('school.checkout.payment')}">
    <div class="wizard-step" ng-class="{active : $state.is('school.checkout.complete')}">
      <span class="wizard-step-number">2.</span>
      <span class="wizard-step-caption">
        <!-- <i class="fa fa-list"></i> -->
        <span>Complete seu cadastro</span>
      </span>
    </div>
  </li>
  <li wizard-state="school.checkout.payment">
    <div class="wizard-step" ng-class="{active : $state.is('school.checkout.payment')}">
      <span class="wizard-step-number">3.</span>
      <span class="wizard-step-caption">
        <!-- <i class="fa fa-check"></i> -->
        <span>Realize o pagamento</span>
      </span>
    </div>
  </li>
</ul>
