/*******************************************************************************
*
*  core/typography
*  Contains all typographical elements styles
*
*******************************************************************************/
h2, h3, h4, p, a, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.light-gray-text {
  color: #aaa;
}

.uppercase {
  text-transform: uppercase;
}
