<h2 class="page-title">{{ page.title }}</h2>
<form>
  <input autofocus="true" name="name" type="text" class="panel" ng-model="user.name" placeholder="Nome">
  <input name="email" type="email" class="panel" ng-model="user.email" placeholder="E-mail">
  <input name="phone" type="telephone" class="panel" placeholder="Telefone">
  <textarea name="message" class="panel" placeholder="Mensagem" rows="9"></textarea>
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <p>Telefone: (21) 2222-2222</p>
      <p>Horário de atendimento: das 8h às 17h</p>
    </div>
    <div class="col-xs-12 col-sm-5 text-right">
      <button type="button" class="btn-green">
        Enviar mensagem
        <i class="fa fa-send"></i>
      </button>
    </div>
  </div>
</form>
