<div class="panel about">
  <div class="row">
    <div class="col-xs-12">
      <h2>Sobre nós</h2>
      <p>O Curso Jurídico Exato surge como diferencial no mercado de cursos preparatórios para concurso público, contando com uma equipe gabaritada, que vivencia o trabalho nos tribunais e participa das decisões jurídicas do País, não apenas como Operadores do Direito, mas sim como pensadores ativos e formadores de opinião. Neste sentido, o Professor Sylvio Capanema preparou uma equipe com docentes de excelência para orientar o aluno nos seus estudos rumo à aprovação em concursos públicos.</p>
    </div>
  </div>
  <div class="row lower-part">
    <div class="col-xs-12 col-sm-4">
    <h2>Missão</h2>
    <p>Tornar empolgante os estudos para a conquista do sucesso profissional, oferecendo aulas online de qualidade, professores qualificados e tutoria treinada para tirar dúvidas, potencializando, assim, a capacidade de aprendizagem do aluno.</p>
    <p>Dar suporte didático e técnico ao aluno para o seu melhor rendimento, já que é de suma importância não se sentir sozinho no desafio de ser aprovado em concursos públicos.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Visão</h2>
      <p>Consolidar-se como o curso que mais aprova em concursos públicos no país.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Valores</h2>
      <p>Conduzir o aluno na ampliação de competências e habilidades, elevando-o no campo do estudo e do conhecimento;</p>
      <p>Investir na excelência do corpo docente e na qualidade das ferramentas pedagógicas, de forma a abreviar o tempo para aprovação do aluno em concursos públicos;</p>
      <p>Compromisso com os resultados.</p>
    </div>
  </div>
</div>
