<div class="module">
  <div class="module-info">
    <div class="title">
      <a href ng-click="getCourseContents(module)">{{ module.name }}</a>
    </div>
  </div>
</div>
<ol ui-tree-nodes ng-model="module.modules">
  <li class="module-item sub" ng-repeat="module in module.course_modules" ng-include="subTemplateUrl" ui-tree-node></li>
</ol>
<ol ui-tree-nodes ng-model="module.modules">
  <li class="module-item sub" ng-repeat="class in module.classes" ui-tree-node>
    <div class="class">
      <div class="class-info" ng-class="{'active': $state.params.contentId == class.lesson.id.toString()}">
        <class-icon ng-model="class"></class-icon>
        <span class="title">{{ class.lesson.title }}</span>
      </div>
    </div>
  </li>
</ol>
