<header class="main-header course">
  <div class="image-container">
    <img ng-src="{{ schoolProduct.logo }}" alt="{{ schoolProduct.title }}" class="cover-photo blurred dark">
    <div class="black-overlay"></div>
  </div>
  <div class="container">
    <div ng-if="schoolProduct.logo || schoolProduct.video_cover" class="col-xs-12 text-center col-sm-5 table-cell">
      <div class="image">
        <img ng-if="!schoolProduct.video_cover" ng-src="{{ schoolProduct.logo }}" alt="{{ schoolProduct.title }}" class="image-full">
        <video-player ng-if="schoolProduct.video_cover" width="450" height="210" ng-model="schoolProduct.video_cover.media"></video-player>
      </div>
    </div>
    <div class="col-xs-12 text-center table-cell" ng-class="{'col-sm-6 col-sm-offset-1': schoolProduct.logo != null || schoolProduct.logo != '', 'col-sm-12': schoolProduct.logo == null || schoolProduct.logo == ''}">
      <div class="info">
        <h2 class="title">{{ schoolProduct.title }}</h2>
        <span class="subtitle">{{ schoolProduct.subtitle }}</span>
      </div>

      <div class="enroll text-center">
        <div class="col-xs-12" ng-if="schoolProduct.product.plans.length === 0">
          <button type="button" add-to-cart="schoolProduct" class="btn-green">
            <span>Matricule-se agora</span>
          </button>
          <p class="price-text">por apenas {{ schoolProduct.product.price | money:'R$ ' }}</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="course-body">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-8">
        <div ng-include="'templates/product/about_course.html'" ng-if="schoolProduct.description"></div>
        <!-- <div ng-include="'templates/product/course_modules.html'" ng-if="schoolProduct.description"></div> -->

        <div class="fb-comments" data-href="{{ $location.absUrl() }}" data-width="790" data-numposts="10" data-colorscheme="light"></div>
      </div>


      <div class="topics col-xs-12 col-md-4">

        <section ng-repeat="topic in schoolProduct.topics | filter:{main:true}" class="topic panel">
          <div class="panel-heading">
            <strong class="title panel-title">
              <i class="fa fa-users" ng-if="topic.title.toLowerCase() == 'para quem é o curso?'"></i>
              <i class="fa fa-comment" ng-if="topic.title.toLowerCase() == 'o que falam sobre?'"></i>
              <i class="fa fa-info-circle" ng-if="topic.title.toLowerCase() == 'perguntas frequentes'"></i>
              {{ topic.title }}
            </strong>
          </div>
          <div class="panel-body">
            <p class="description" ng-bind-html="topic.description"></p>
          </div>
        </section>

        <section class="topic panel start-to-study">
          <div class="panel-heading">
            <strong class="title panel-title">
              <i class="fa fa-caret-square-o-right"></i>
              Comece a estudar
            </strong>
          </div>
          <div class="panel-body text-center">
            <div class="installments">
              <!-- <small>5x R$ </small> -->
              {{ schoolProduct.product.price | money:'R$ ' }}
              <small>à vista</small>
            </div>
            <!-- <div class="full-price">
              ou R$ 2000,00 à vista
            </div> -->
            <button type="button" add-to-cart="schoolProduct" class="btn-green">
              Comprar Agora
              <i class="fa fa-shopping-cart"></i>
            </button>
          </div>
        </section>

        <div ng-include="'templates/shared/payment_methods_panel.html'"></div>

        <section ng-if="schoolProduct.class_teachers.length > 0" class="topic panel teachers">
          <div class="panel-heading">
            <strong class="title panel-title">
              <i class="fa fa-user"></i>
              Professores
            </strong>
          </div>
          <div class="panel-body">
            <div ng-repeat="teacher in schoolProduct.class_teachers" class="teacher">
              <img ng-if="teacher.photo_url" ng-src="{{ teacher.photo_url }}" alt="{{ teacher.full_name }}" class="image col-xs-12 col-md-12">
              <h4 class="teacher-name">{{ teacher.full_name }}</h4>
              <p class="description" ng-bind-html="teacher.about"></p>
            </div>
          </div>
        </section>

        <section ng-repeat="topic in schoolProduct.topics | filter:{main:false}" class="topic panel">
          <div class="panel-heading">
            <strong class="title panel-title">
              <i class="fa fa-users" ng-if="topic.title.toLowerCase() == 'para quem é o curso?'"></i>
              <i class="fa fa-comment" ng-if="topic.title.toLowerCase() == 'o que falam sobre?'"></i>
              <i class="fa fa-info-circle" ng-if="topic.title.toLowerCase() == 'perguntas frequentes'"></i>
              {{ topic.title }}
            </strong>
          </div>
          <div class="panel-body">
            <p class="description" ng-bind-html="topic.description"></p>
          </div>
        </section>

        <div ng-include="'templates/shared/help_panel.html'"></div>

        <div ng-include="'templates/shared/secure_site.html'"></div>
      </div>
    </div>
  </div>
</div>
