<div class="course-card">
  <a link-to="school.product({ schoolProductId: schoolProduct.id })">
    <div class="image">
      <img ng-if="schoolProduct.logo" ng-src="{{ schoolProduct.logo }}" alt="{{ schoolProduct.title }}" class="image-full">
      <img ng-if="!schoolProduct.logo" src="assets/images/missing-course-logo.png" alt="Em construção" class="image-full">
    </div>
    <div class="category">
      {{ (schoolProduct.categories | filter: {flag: false})[0].title }}
    </div>
  </a>
  <div class="body">
    <h4 class="title">{{ schoolProduct.title }}</h4>
    <p max-lines="2" class="subtitle" ng-if="schoolProduct.subtitle != null">{{ schoolProduct.subtitle }}</p>
  </div>

  <div class="footer row">
    <div class="col-xs-12 info" ng-if="schoolProduct.product.plans.length === 0">
      <div class="col-lg-6 text-center">
        <div class="course-card-price">{{ schoolProduct.product.price | money:'R$' }}</div>
      </div>
      <div class="col-lg-6 text-center">
        <button type="button" link-to="school.product({ schoolProductId: schoolProduct.id })" class="btn btn-blue">Saiba mais</button>
      </div>
    </div>
  </div>
</div>
